@charset "UTF-8";

.mypage_title{
	margin-left : 45px;
}

.wow .u1{
	margin-left : 45px;
	font-size : 25px;
	margin-bottom : 20px;
	cursor:pointer;
}

.btnSelect:hover{
	cursor:pointer;
}

.u_profile_h4{
	margin-left: 30px;
}
.u_profile_div{
	margin-left: 30px;
}
.mypage_modify_button{
	margin-left: 30px;
	margin-bottom: 30px;
}