@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.orderForm_container{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.orderForm_d-flex{
  display: flex;
  flex-direction: row;
  background: #f6f6f6;
  border-radius: 0 0 5px 5px;
  padding: 25px;
}
.orderForm_form{
  flex: 4;
}
.Yorder{
  flex: 2;
}
.orderForm_title{
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #00B98E
), color-stop(100, #00B98E));
  background: -moz-linear-gradient(top left, #00B98E 0%, #00B98E 100%);
  background: -ms-linear-gradient(top left, #00B98E 0%, #00B98E 100%);
  background: -o-linear-gradient(top left, #00B98E 0%, #00B98E 100%);
  background: linear-gradient(to bottom right, #00B98E 0%, #00B98E 100%);
  border-radius:5px 5px 0 0 ;
  padding: 20px;
  color: #f6f6f6;
}
h2{
  margin: 0;
  padding-left: 15px; 
}
.required{
  color: red;
}
label, table{
  display: block;
  margin: 15px;
}
label>span{
  float: left;
  width: 25%;
  margin-top: 12px;
  padding-right: 10px;
}
input[type="text"], input[type="tel"], input[type="email"], select
{
  width: 70%;
  height: 30px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #dadada;
  color: #888;
}
select{
  width: 72%;
  height: 45px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.Yorder{
  margin-top: 15px;
  height: 600px;
  padding: 20px;
  border: 1px solid #dadada;
}

p{
  display: block;
  color: #888;
  margin: 0;
  padding-left: 25px;
}

/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}

.divTableCell, .divTableHead {
	border: 0px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}

.Yorder>div{
  padding: 15px 0; 
}

.orderForm_button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 30px;
  background: #00B98E;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.orderForm_button:hover{
  cursor: pointer;
  background: #428a7d;
}